*{
    margin: 0;
    pad: 0;
    box-sizing: 0;
}

.container{
    position: relative;
    width: 700px;
    height: 450px;
    background: #fa9e9e;
    left: 270px;
    top: 80px;
}

.titulo{
    position: absolute;
    width: 200px;
    height: 40px;
    background: #611616;
    top: 40px;
    left: 500px;
}

.subtitulo{
    position: absolute;
    

}