*{
    margin: 0;
    pad: 0;
    box-sizing: 0;
}

body{
    background: #d9d9d9;
}

.container{
    position: relative;
    width: 700px;
    height: 440px;
    background: #ffffff;
    left: 420px;
    top: 134px;
    
}

.titulo{
    position: absolute;
    width: 200px;
    height: 40px;
    z-index: 1;
    top: 71px;
    right: 28px;
    color: rgb(215, 30, 30);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  
}

.subtitulo{
    position: absolute;
    z-index: 2;
    top: 147px;
    right: 28px;
    text-align: right;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    

}

.prazo{
    position: absolute;
    z-index: 3;
    top: 230px;
    right: 28px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5px;

}

.paragrafo{
    position: absolute;
    z-index: 4;
    top: 227px;
    right: 28px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;

}

.vermelho{
    position: absolute;
    z-index: 5;
    text-align: right;
    top: 311px;
    right: 18px;
    width: 360px;
    height: 25px;
    background: #c61818;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    align-items: center;

}

/* .img{
    position: absolute;
    z-index: 6;
    width: 50%;
    height: auto;

    top: 71px;
    

} */