*{
    margin: 0;
    pad: 0;
    box-sizing: 0;
    /* width: 0;
    height: 0; */
}

body{
    background: #d9d9d9;
}

.container{
    position: relative;
    width: 700px;
    height: 440px;
    background: #ffffff;
    left: 420px;
    top: 134px;
    
}

.titulo{
    position: absolute;
    width: 224px;
    height: 40px;
    z-index: 1;
    top: 46px;
    right: 28px;
    color: rgb(215, 30, 30);
    text-align: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 36px;
    line-height: 36px;
  
}

.subtitulo{
    position: absolute;
    z-index: 2;
    top: 125px;
    right: 28px;
    text-align: right;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 28px;
    

}

.prazo{
    position: absolute;
    z-index: 3;
    top: 219px;
    right: 28px;
    text-align: right;
    font-family:sans-serif;
    font-weight:550;
    font-size: 12.5px;
    color: #7c7c7c;

}

.paragrafo{
    position: absolute;
    z-index: 4;
    top: 218px;
    right: 28px;
    text-align: right;
    font-family:sans-serif;
    color: #a5a5a5;

}

.vermelho{
    position: absolute;
    z-index: 0;
    text-align: right;
    top: 307px;
    right: 15px;
    width: 360px;
    height: 25px;
    background: #c61818;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding-right: 12px;

}

.imagem{
    display: flex;
    position: relative;
    z-index: 5;
    width: 700px;
    height: 440px;

    



    
}